@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@font-face {
			font-family: myFirstFont;
			src: url('https://www.didikebolo.com/assets/font/roboto-slab.regular.ttf')format('truetype');
		}

* {
	margin: 0;
	padding: 0;
	list-style-type:none;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none !important;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.panel-body {
    font-size: 13px;
}
header {
	width: 100%;
    /* height: 400px; */
    background: #29a2db;
    text-align: center;
    padding: 25px;
	font-family: myFirstFont;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    color: #FFF;
}
header h3 {
	font-size: 28px;
	color: #fff;
	text-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	font-family: myFirstFont;
    font-weight: bold;
}

.main {
	margin: 0 auto;
	background: #fff;
	/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
	margin-top: -280px;
	padding: 20px;
	clear:both;
}
.form-container, .wrapper {
	clear:both;
	margin-top: 60px;
}
.wrapper {
    margin-bottom: 30px;
    width: 70%;
    margin: 0px auto;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
label {
	clear: both;
	float: left;
	width: 50%;
	text-align: right;
	font-family: 'segoe ui',arial,tahoma;
	padding: 10px 15px;
	margin-bottom: 25px;
	margin-right: 15px;
}

.panel-title {
	font-size: 32px;
}
/*input[type=text], select {
	float: left;
	width: 30%;
	text-align: left;
	padding: 10px 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-m-appearance: none;
	-o-appearance: none;
	appearance: none;
	border:0;
	box-shadow: none;
	border-bottom: 1px solid #aaa;
	transition: all 0.5s;
}*/

input[type=text],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 10px 15px;
  width: 30%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
input[type=text]:focus, select:focus {
	outline: none;
	/*border-bottom: 2px solid #000;*/
}

input[type=number],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 10px 15px;
  width: 30%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type=radio] {
	float: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	-m-appearance: none;
	-o-appearance: none;
	appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #aaa;
	margin-top:12px;
}
input[type=radio]:focus {
	outline:none;
}
input[type=radio]:checked {
	background: #ff6e40 ;
	border: 1px solid #777;
}
.radio {
	float: left;
	margin-left: 10px;
	margin-right: 30px;
	margin-top:12px;
}
.spacer{
	clear:both;
	float:left;
	width:380px;
	height:40px;
}
input[type=submit] {
	float: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	-m-appearance: none;
	-o-appearance: none;
	appearance: none;
	height: 50px;
	width: 140px;
	border: none;
	background: #009999 ;
	color: #000;
	font-size: 20px;
	font-weight: 800;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}

input[type=submit]:focus {
	outline: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20), 0 2px 2px 0 rgba(0, 0, 0, 0.30);
}
@media (max-width:768px)
{
	header {
		
		padding: 20px 20px;
		
	}
	.wrapper {
		margin-bottom: 30px;
		width: 100%;
		margin: 0px auto;
	}
}
@media (max-width:600px)
{
	header {
		
		padding:15px;
		
	}
	header h2 {
		font-size: 20px;
	}
}