@font-face {
  font-family: 'Digital-7';
  src: url('https://res.cloudinary.com/indianpac/raw/upload/naf/fonts/Digital-7.woff') format('woff'), url('https://res.cloudinary.com/indianpac/raw/upload/naf/fonts/Digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/** Counter Section */
.counter p {
  color: #02075B;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}


.counter h3 span {
  font-family: 'Digital-7' !important;
  font-size: 4rem;
  line-height: 3.5rem;
  color: #02075B;
}
.counter h3 {
 
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #02075B;
}
/** End:: Counter Section */

/**-- Heading Css-- */
.logo img {
  max-width: 60px;
}
b.ph_yellow {
  color: #f7ef42;
}
.headingdiv {
  border: 2px solid #299ee1;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 400;
}
.signup-div {
  position: absolute;
  bottom: -18%;
  right: 14%;
}
/**-- Close of Heading Css-- */

.digital_numbers {
  font-family: digital-7 regular font !important;
}

.row:before,
.row:after {
  display: none !important;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: #fff;
}

.mobile {
  display: none;
}

.container-fluid {
  padding: 0;
}

.custom-padding {
  padding-left: 6%;
  padding-right: 6%;
}
.step2 section {
  padding: 80px 0;
}
/* START: Header Section */
span.home-header-text {
  color: #2695ca;
  font-weight: bold;
}
.header {
  float: left;
  width: 100%;
  padding: 15px 0;
}

.header img {
  height: 80px;
  float: left;
}

.header_banner {
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.signup-div {
  /* position: absolute;
  bottom: 10%;
  right: 0%;
  width: 100%; */
    position: absolute;
    bottom: 22%;
    right: 9%;
    width: 100%;
}

.signup-div .sgnUpBtn {
  display: flex;
  justify-content: end;
}
/* .signup-div img {
  width: 18%;
  float: right;
} */

/* END: Header Section */

/* START: About Section */
.about section {
  background: #f4f4f4;
}
.about h2 {
  font-size: 3em;
    color: #000;
    padding-bottom: 40px;
    /* font-weight: 700; */
    text-transform: UPPERCASE;
    font-family: helveticaregular;
    margin-bottom: 0px;
}
.about p {
  font-size: 1.5em;
  line-height: 36px;
  text-align: left;
}
.about-us img {
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}

.about-us h2 {
  text-align: left;
  color: #299ee1;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.d-lang .about-us h2 {
  font-size: 1.6rem;
}

/* END: About Section */
.faq h2 {
  font-size: 3em;
  color: #000;
  padding-bottom: 10px;
  /* font-weight: 700; */
  text-transform: UPPERCASE;
  text-align: center;
  font-family: helveticaregular;
}
#faq .card {
  margin-bottom: 10px;
  border: 1px solid #b2b2b2;
}
#faq .card-body {
  background: #fff;
  font-size: 1.2em;
  padding: 10px;
  text-align: left;
}
#faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
  background: #f2f2f2;
}

#faq .card .card-header .btn-header-link {
  color: #000;
  display: block;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#faq .card .card-header .btn-header-link:after {
  content: "\f103";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

#faq .card .card-header .btn-header-link.collapsed {
  background: #f2f2f2;
  color: #000;
  font-weight: 600;
}

#faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f102";
}

#faq .card .collapsing {
  background: #f2f2f2;
  line-height: 30px;
}

#faq .card .collapse {
  border: 0;
}

#faq .card .collapse.show {
  background: #f2f2f2;
  line-height: 30px;
  color: #000;
}
.footer-menu ul {
  margin-bottom: 5px;
}
.footer-menu ul li a {
  color: #fff;
  border-left: 1px solid #fff;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}
.footer-menu {
  float: left;
  margin-left: 10px;
  /* text-align: center; */
}
.sub-footer .container {
  margin-top: 5px;
}
@media (max-width: 769px) {
  .subfooter-nav {
    float: none;
    text-align: center;
  }
  .subfooter-nav li {
    float: none;
  }
  .sub-footer .copyright {
    text-align: center;
  }
  .footer-menu {
    float: none;
    text-align: center;
  }
  .footer-menu ul li a:first-child {
    color: #fff;
    border-left: none;
    padding-left: 0px;
    margin-right: 10px;
  }
  .signup-div {
      bottom: 8%;
      right: 0%;
  }
  .signup-div .sgnUpBtn {
    justify-content: center;
  }
  /* .signup-div img {
    width: 40%;
    display: block;
    margin: auto !important;
    float: unset;
} */
}

.social-footer i {
  border: 1px solid #fff;
  margin-right: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  height: 30px;
  width: 30px;
  margin-top: -5px;
}

i.fab.fa-facebook-f:hover {
  background: #4867aa;
  border: 1px solid #4867aa;
}

i.fab.fa-twitter:hover:hover {
  background: #5da9dd;
  border: 1px solid #5da9dd;
}

i.fab.fa-instagram:hover {
  background: #e74857;
  border: 1px solid #e74857;
}

.copyright a {
  color: #fff !important;
}

.copyright a:hover {
  color: #fff !important;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
  background-color: transparent;
}

.asterisk {
  color: #ff0000;
  white-space: break-spaces;
}

label.error {
  color: #ff0000;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 400;
  width: 100%;
}

#surveyForm {
  /* text-align: center; */
  position: relative;
}

#surveyForm fieldset {
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  /*padding-bottom: 30px;*/
  position: relative;
}

#surveyForm fieldset .form-card-top,
#surveyForm fieldset .form-card-bottom {
  text-align: left;
  border: 0 none;
  border-radius: 0.5rem;
  padding: 20px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 15px 3% 0px 3%;
  position: relative;
}

#surveyForm fieldset .form-card-top {
  background-color: #d7f2ff;
}

#surveyForm fieldset .form-card-bottom {
  background-color: #f4f4f4;
}

#surveyForm fieldset .card_head {
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #000;
}

#surveyForm fieldset .card_head u {
  text-underline-position: under;
}
/** Stepper header */

#progressbar {
  margin: 15px 0px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
}

h2.survey_heading {
  color: #000;
  font-size: 27px;
  font-weight: 900;
}

#progressbar #personal:before {
  content: "1";
}

#progressbar #other:before {
  content: "2";
}

#progressbar #confirm:before {
  content: "3";
}

#progressbar #declaration:before {
  content: "4";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #299ee1;
}

.progress-bar {
  background-color: #299ee1;
}

/** End: Stepper header */

.account {
  width: 100%;
  /* height: 87%; */
  min-height: 300px;
  background: #353535;
  border-radius: 20px;
  text-align: left;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
}

.account .label-control {
  color: #fff;
  margin-bottom: 5px;
  font-size: 1rem;
}

.account .form-control {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #000;
}

.text-white li {
  margin-left: 15px;
}

.account .form-control .btn-light,
.account .btn-light:not(:disabled):not(.disabled).active,
.account .btn-light:not(:disabled):not(.disabled):active,
.account .show > .btn-light.dropdown-toggle {
  border: 1px solid #fff;
  border-radius: 25px;
}

.account .form-check-label {
  color: #fff;
}

.timer_div {
  color: #fff;
}

.account .form-text {
  display: inline;
  font-size: 15px;
  font-style: italic;
  color: #29a2db;
}

.small-text {
  display: inline;
  font-size: 12px;
  font-style: italic;
}

.account .custom-btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  color: #fff;
  background-color: #29a2db;
  border: none;
  outline: none !important;
  padding: 9px 35px;
}

.registration h2 {
  font-size: 24px;
  color: #fff;
  padding-bottom: 10px;
  font-weight: bold;
}

.yellow,
.yellow:hover {
  color: #29a2db;
}

.desktop .text-white {
  font-size: 15px;
  color: #000 !important;
}

.desktop .yellow,
.desktop .yellow:hover {
  color: #29a2db;
}

.w-s-t {
  color: #fff;
  margin-bottom: 2px;
}

#forgot_id,
#new_reg,
#regenerate {
  text-decoration: underline;
  color: #fff !important;
  cursor: pointer;
}

.text-underline {
  text-decoration: underline !important;
}
#generateOTP:hover {
  color: #29a2db;
}

#verify_btn,
#submit_btn,
#reset_btn,
#back_btn {
  padding: 10px 30px;
  text-align: left;
  margin-top: -2px;
}

.d-lang #verify_btn {
  padding: 10px;
}

.btn.focus,
.btn:focus,
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn:disabled {
  opacity: 0.65;
  background: #29a2db !important;
}

.electrol,
.address {
  padding: 10px 15px;
  background: #dddddd;
  border-radius: 15px;
  max-width: 47%;
  margin: 0px auto 10px auto;
}

#surveyForm fieldset:not(:first-of-type) {
  display: none;
}

label.label-control {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-control,
.form-control .btn-light,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  font-family: "Open Sans", sans-serif !important;
  color: #000000;
  background-clip: padding-box;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
}

.bootstrap-select .dropdown-menu li a span.text {
  white-space: pre-wrap;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto;
}

.custom-file-label {
  color: #000000;
  background-color: #fff;
  border: 1px solid #1d1d1d;
  border-radius: 15px;
  overflow: hidden;
  font-size: 0.9rem;
}

.form-control:focus {
  color: #000000;
  background-color: #fff;
  border-color: #1d1d1d;
  outline: 0;
  box-shadow: none;
}

.form-control ::-moz-placeholder {
  color: #999;
}

.form-control ::-moz-placeholder {
  color: #999;
}

.form-control ::-webkit-input-placeholder {
  color: #999;
}

.form-control ::-ms-input-placeholder {
  color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #ddd;
  color: #000;
  cursor: not-allowed;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #299ee1;
}

#surveyForm .btn-custom {
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  background-color: #299ee1;
  padding: 10px 30px;
  border: none;
  outline: none !important;
  letter-spacing: 1px;
}

.mt-repeater-delete,
.swal-button {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

.mt-repeater-delete:hover {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

a.mt-repeater-add:hover {
  text-decoration: none;
  color: #29a2db;
}

ul.points li {
  margin-bottom: 5px;
}

ul.points li,
.form-check-label {
  text-align: left;
  color: #283438;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .subfooter-nav {
    float: none;
    text-align: center;
  }
  .subfooter-nav li {
    float: none;
  }
  .sub-footer .copyright {
    text-align: center;
  }
}

@media (max-width: 600px) {
  h2.survey_heading {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
  .about h2 {
    font-size: 2em;
    padding-bottom: 0px;
    /* font-weight: 700; */
    margin-bottom: 0px;
}
.faq h2 {
    font-size: 1.5em;
}
.signup-div img.img-fluid{
  max-width: 50%;
    height: auto;
    /* align-items: center; */
    /* justify-content: center; */
    margin: -25px 40px;
}
  .headingdiv {
    font-size: 14px;
  }
  #surveyForm fieldset .form-card {
    padding: 0px 10px;
  }
  .card {
    margin: 0px 10px;
  }
  .points li {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  #su h2.survey_heading {
    font-size: 21px;
    word-spacing: 3px;
    letter-spacing: 0.1em;
  }
  .dobdiv select {
    width: 30.8% !important;
    font-size: 14px !important;
    padding: 5px !important;
  }
  .registration h2 {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  .signup-div img {
    /* width: 20%; */
    max-width: 200px;
  }
}

@media (max-width: 380px) {
  .headingdiv {
    font-size: 12px;
  }
  .registration h2 {
    font-size: 16px;
  }
  .dobdiv select {
    width: 31.8% !important;
    font-size: 12px !important;
  }
  #progressbar li {
    font-size: 10px;
  }
}

.mt-repeater {
  display: table;
  width: 100%;
}

.mt-repeater .mt-repeater-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.mt-repeater .mt-repeater-item.mt-overflow {
  overflow: auto;
}

.mt-repeater .mt-repeater-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 600;
}

.mt-repeater .mt-repeater-input {
  display: table-cell;
  vertical-align: top;
  padding: 0 10px 10px;
  width: 1%;
}

.mt-repeater .mt-repeater-input input[type="text"],
.mt-repeater .mt-repeater-input select,
.mt-repeater .mt-repeater-input textarea {
  width: 100%;
}

.mt-repeater .mt-repeater-input .control-label {
  padding-top: 0;
  margin-bottom: 5px;
}

.mt-repeater .mt-repeater-input.mt-repeater-textarea {
  width: 3%;
}

.mt-repeater .mt-repeater-input:first-child {
  padding-left: 0;
}

.mt-repeater .mt-repeater-input:last-child {
  padding-right: 0;
}

.mt-repeater .mt-repeater-delete {
  margin-top: 1.8em;
}

.mt-repeater .mt-repeater-delete.mt-repeater-del-right {
  float: right;
  margin-top: 10px;
}

.mt-repeater .mt-repeater-cell {
  display: table;
  width: 100%;
}

.mt-repeater .mt-repeater-cell .mt-repeater-btn-inline,
.mt-repeater .mt-repeater-cell .mt-repeater-input-inline {
  display: table-cell;
}

.mt-repeater .mt-repeater-cell .mt-repeater-input-inline {
  width: 100%;
  border-right: none;
}

.mt-repeater .mt-repeater-cell .mt-repeater-btn-inline {
  width: 1%;
  float: none;
}

.mt-repeater .mt-repeater-row {
  margin-right: 0;
}

@media (max-width: 991px) {
  .mt-repeater .mt-repeater-input.mt-repeater-textarea {
    width: 100%;
  }
  .mt-repeater .mt-repeater-input .control-label {
    text-align: left !important;
  }
}

.social-share fieldset {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.social-share legend {
  margin-left: 35px;
  font-size: 1rem;
  padding: 0 5px;
  width: auto;
  color: #fff;
  font-weight: 800;
}

.social-share p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.social-share i {
  background-color: #fff;
  padding: 7px 0px;
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}

.social-icon {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.social-icon img {
  padding: 0px 5px;
  height: 26px;
  width: auto;
  cursor: pointer;
}

.social-share .icon-img {
  position: absolute;
  left: -10px;
  width: 70px;
  height: 70px;
  top: -30px;
}

.dobdiv select {
  width: 32% !important;
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 768px) {
 
  .counter h3 span {
    font-family: 'Digital-7' !important;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #02075B;
    font-weight: bold;
  }
  .counter h3 {
   
    font-size: 2rem;
    line-height: 2rem;
    color: #02075B;
    font-weight: bold;
  }
  .counter p {
    color: #02075B;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
}
/* .show-lang {
  border: none;
  background-color: transparent;
  min-width: auto;
} */

.lang-wrap {
  right: 5px;
  top: 5px;
}

.show-lang i,
.show-lang:hover i {
  color: #FFFFFF;
}

.lang-tooltip {
  top: 35px;
  right: 0;
  border: 1px solid #FFF;
  border-top: 1px solid #FFF;
}

}
@media (max-width: 380px)
{
  .counter p {
    color: #02075B;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
}
.counter h3 span {
  font-family: 'Digital-7' !important;
  font-size: 2rem;
  
}
.counter h3 {
  font-size: 2rem;
}
}