body {
    background-color: #e6e6e6 !important;
}

.form-card-section {
    background-color: #fff;
    width: 90%;
    margin: auto;
    padding: 2rem;
    border-radius: 4px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 2px 1px #0000004a;
}

.form-card-section label {
    margin-bottom: 0.5rem;
    text-align: left !important;
    display: flex;
    justify-content: start;
}

.form_head {
    border-bottom: 2.5px solid;
    width: fit-content;
    margin: auto;
    padding-bottom: 2px;
}

.form-card-section .form-control {
    border-radius: 0.5rem !important;
}

.form-card-section input[type="radio"] {
    width: 16px;
    height: 16px;
}

.form_submit_div button {
    border-radius: 30px;
    padding: 6px 24px;
}