.mobile {
    display: none;
}

#wrapper {
    min-height: 100vh;
    background: #e8e8e8;
}

.about p {
    font-size: 1.5em;
    line-height: 36px;
    text-align: left;
}

section {
    background: #e8e8e8;
}

.show-lang span strong {
    padding-left: 0px;
}

.lang-wrap {
    position: absolute;
    top: 10px;
    right: 5%;
}

.lang-tooltip {
    position: absolute;
    top: 30px;
}

label.error {
    color: #ff0000;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 400;
    width: 100%;
}

.social-footer i {
    border: 1px solid #fff;
    margin-right: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    height: 30px;
    width: 30px;
    margin-top: -5px;
}

i.fab.fa-facebook-f:hover {
    background: #4867aa;
    border: 1px solid #4867aa;
}

i.fab.fa-twitter:hover:hover {
    background: #5da9dd;
    border: 1px solid #5da9dd;
}

i.fab.fa-instagram:hover {
    background: #e74857;
    border: 1px solid #e74857;
}

.copyright a {
    color: #fff !important;
}

.copyright a:hover {
    color: #fff !important;
}

.btn.focus,
.btn:focus,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dobdiv select {
    width: 32% !important;
    display: inline-block;
}

.home-icon {
    position: absolute;
    left: 1%;
    top: 2%;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px 12px;
    font-size: 12px;
    border: 1px solid #fff;
    background-color: #202020;
    color: #fff;
}

.home-icon a {
    text-decoration: none;
    color: #fff;
}


/** FORM CSS */

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    background-color: transparent;
}

.asterisk {
    color: #ff0000;
    white-space: break-spaces;
}

label.error {
    color: #ff0000;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 400;
    width: 100%;
}

#surveyForm {
    position: relative;
}

#surveyForm fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    /*padding-bottom: 30px;*/
    position: relative;
}

#surveyForm fieldset .form-card-top,
#surveyForm fieldset .form-card-bottom {
    text-align: left;
    border: 0 none;
    border-radius: 0.5rem;
    padding: 20px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 15px 3% 0px 3%;
    position: relative;
}

#surveyForm fieldset .form-card-top {
    background-color: #d7f2ff;
}

#surveyForm fieldset .form-card-bottom {
    background-color: #f4f4f4;
}

#surveyForm fieldset .card_head {
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #000;
}

#surveyForm fieldset .card_head u {
    text-underline-position: under;
}


/** Stepper header */

#progressbar {
    margin: 15px 0px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

h2.survey_heading {
    color: #000;
    font-size: 28px;
    font-weight: 900;
}

#progressbar #personal:before {
    content: "1";
}

#progressbar #other:before {
    content: "2";
}

#progressbar #confirm:before {
    content: "3";
}

#progressbar #declaration:before {
    content: "4";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #299ee1;
}

.progress-bar {
    background-color: #299ee1;
}


/** End: Stepper header */

.account {
    width: 100%;
    background: #353535;
    border-radius: 20px;
    text-align: left;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
}

.account .label-control {
    color: #fff;
    margin-bottom: 5px;
    font-size: 1rem;
}

.account .form-control {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #000;
}

.text-white li {
    margin-left: 15px;
}

.account .form-control .btn-light,
.account .btn-light:not(:disabled):not(.disabled).active,
.account .btn-light:not(:disabled):not(.disabled):active,
.account .show>.btn-light.dropdown-toggle {
    border: 1px solid #fff;
    border-radius: 25px;
}

.account .form-check-label {
    color: #fff;
}

.timer_div {
    color: #fff;
}

.account .form-text {
    display: inline;
    font-size: 15px;
    font-style: italic;
    color: #29a2db;
}

.small-text {
    display: inline;
    font-size: 12px;
    font-style: italic;
}

.account .custom-btn {
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    color: #fff;
    background-color: #29a2db;
    border: none;
    outline: none !important;
    padding: 9px 35px;
}

.registration h2 {
    font-size: 24px;
    color: #fff;
    padding-bottom: 10px;
    font-weight: bold;
}

.yellow,
.yellow:hover {
    color: #29a2db;
}

.desktop .text-white {
    font-size: 15px;
    color: #000 !important;
}

.desktop .yellow,
.desktop .yellow:hover {
    color: #29a2db;
}

.w-s-t {
    color: #fff;
    margin-bottom: 2px;
}

#forgot_id,
#new_reg,
#regenerate {
    text-decoration: underline;
    color: #fff !important;
    cursor: pointer;
}

.text-underline {
    text-decoration: underline !important;
}

#generateOTP:hover {
    color: #29a2db;
}

#verify_btn,
#submit_btn,
#reset_btn,
#back_btn {
    padding: 10px 30px;
    text-align: left;
    margin-top: -2px;
}

.d-lang #verify_btn {
    padding: 10px;
}

.btn.focus,
.btn:focus,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:disabled {
    opacity: 0.65;
    background: #29a2db !important;
}

.electrol,
.address {
    padding: 10px 15px;
    background: #dddddd;
    border-radius: 15px;
    max-width: 47%;
    margin: 0px auto 10px auto;
}

#surveyForm fieldset:not(:first-of-type) {
    display: none;
}

label.label-control {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form-control,
.form-control .btn-light,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    font-family: "Open Sans", sans-serif !important;
    color: #000000;
    background-clip: padding-box;
    border: 1px solid #1d1d1d;
    border-radius: 5px;
}

.bootstrap-select .dropdown-menu li a span.text {
    white-space: pre-wrap;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}

.custom-file-label {
    color: #000000;
    background-color: #fff;
    border: 1px solid #1d1d1d;
    border-radius: 15px;
    overflow: hidden;
    font-size: 0.9rem;
}

.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #1d1d1d;
    outline: 0;
    box-shadow: none;
}

.form-control ::-moz-placeholder {
    color: #999;
}

.form-control ::-moz-placeholder {
    color: #999;
}

.form-control ::-webkit-input-placeholder {
    color: #999;
}

.form-control ::-ms-input-placeholder {
    color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ddd;
    color: #000;
    cursor: not-allowed;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #299ee1;
}

#surveyForm .btn-custom {
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    background-color: #299ee1;
    padding: 10px 30px;
    border: none;
    outline: none !important;
    letter-spacing: 1px;
}


/** FORM CSS END */

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
    box-shadow: none;
}

@media (max-width: 600px) {
    .home-icon a {
        font-size: 11px;
        padding: 0px;
    }
    .about p {
        font-size: 1em;
        line-height: 25px;
        text-align: left;
    }
    .home-icon {
        left: 1%;
        top: 1%;
    }
    .lang-wrap {
        position: absolute;
        top: 10px;
        right: 1%;
    }
    .lang-tooltip li a:before {
        display: none;
    }
    .show-lang {
        border-radius: 10px;
        cursor: pointer;
        width: 70px;
        float: right;
        padding: 5px;
        position: relative;
        z-index: 106;
        font-size: 9px;
    }
    .show-lang span i {
        font-size: 10px;
    }
    .show-lang span {
        margin-left: 4px;
    }
    .lang-tooltip {
        position: absolute;
        top: 22px;
        right: 0;
        width: 64px;
        z-index: 105;
        background: #fff;
        padding: 10px 0 12px;
        border-radius: 4px;
        border: 1px solid #eee;
        border-top: none;
        visibility: hidden;
        opacity: 0;
    }
    .show-lang span strong {
        top: -1px;
    }
    h2.survey_heading {
        color: #000;
        font-size: 16px;
        font-weight: bold;
    }
    .headingdiv {
        font-size: 14px;
    }
    #surveyForm fieldset .form-card {
        padding: 0px 10px;
    }
    .card {
        margin: 0px 10px;
    }
    .points li {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    #surveyForm fieldset .form-card-top,
    #surveyForm fieldset .form-card-bottom {
        padding: 18px;
    }
    .dobdiv select {
        width: 30.8% !important;
        font-size: 14px !important;
        padding: 5px !important;
    }
    .registration h2 {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    .headingdiv {
        font-size: 12px;
    }
    .registration h2 {
        font-size: 16px;
    }
    .dobdiv select {
        width: 31.8% !important;
        font-size: 12px !important;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .step2 h2 {
        font-size: 16px;
    }
    .counter-count,
    .counter h3 {
        font-size: 2.2rem;
        line-height: 2rem;
    }
    .counter p {
        color: #02075B;
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
    }
}