@font-face {
  font-family: digital-7 regular font;
  src: url("../fonts/digital-7/digital-7.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap");
html {
  overflow-x: hidden !important;
  height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  height: 100%;
  text-align: center;
  background: #dcdcdc;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.t-eng {
  font-family: "Open Sans", sans-serif;
}

.row:before,
.row:after {
  display: none !important;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: #fff;
}

.mobile {
  display: none;
}

.container-fluid {
  padding: 0;
}

.custom-padding {
  padding-left: 6%;
  padding-right: 6%;
}

.refercount {
  background: #141414;
  border-radius: 10px;
  min-width: 25%;
  margin: 0px 30%;
}

span.rl {
  color: #fff;
  font-size: 45px;
  font-family: digital-7 regular font !important;
}

.social-footer i {
  border: 1px solid #fff;
  margin-right: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  height: 30px;
  width: 30px;
  margin-top: -5px;
  color: #fff;
}

i.fab.fa-facebook-f:hover {
  background: #4867aa;
  border: 1px solid #4867aa;
}

i.fab.fa-twitter:hover:hover {
  background: #5da9dd;
  border: 1px solid #5da9dd;
}

i.fab.fa-instagram:hover {
  background: #e74857;
  border: 1px solid #e74857;
}

.copyright a {
  color: #fff !important;
}

.copyright a:hover {
  color: #fff !important;
}

.m-card img {
  border-radius: 15px;
}

.red,
.red:hover {
  color: #29a2db;
}

.next-step {
  color: #29a2db;
}

.download_btn,
.whatsapp_btn,
.edit,
#back_btn {
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  min-width: 150px;
  margin-top: 20px;
}

.download_btn,
.edit {
  margin: 10px 0px 0px 10px;
}

.d-lang .download_btn,
.d-lang .whatsapp_btn {
  font-size: 0.9rem;
}
/* .card-content {
	position: absolute;
	width: 80%;
	margin: 0px 5% 0px 2%;
	border: 1px solid #fff;
	top: 33%;
	left: 10%;
	border-radius: 7px;
	padding: 5px 0px 5px 6%;
} */

.card-content {
  position: absolute;
  /* width: 45%; */
  bottom: 20%;
  left: 8%;
  border-radius: 7px;
  /* padding: 10px 0px 0 0%; */
  background: #00000052;
  color: #fff;
  /* letter-spacing: 5px; */
}

.card-content p {
  font-size: 20px;
  padding: 6px 10px;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 600;
}

.card-detail td {
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  text-align: left;
}

.d-lang .card-detail td {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
}

img.user-icon {
  position: absolute;
  left: -17%;
  top: 20%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  border-radius: 40px;
  border: 1px solid #c8c7c6;
}
/* img.qr {
    position: absolute;
    right: 4%;
    bottom: 14%;
    width: 75px;
    border-radius: 5px;
} */

p.qr {
  position: absolute;
  right: 14%;
  bottom: 11%;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5rem;
}
a.download_btn.btn.btn-primary,a.btn.btn-primary.whatsapp_btn {
  background-color: #333a8b!important;
    border-color: #333a8b!important;
}

.address {
  color: #fff;
  position: absolute;
  bottom: 8%;
  right: 34%;
  left: 4%;
  text-align: left;
  font-size: 12px;
  font-family: "Open Sans", sans-serif !important;
}

.address strong {
  color: #fef300;
}

.step-section {
  background-color: #f0f0f0;
  padding-top: 0;
  /* border-top: 1px solid #fff; */
}

.bg-grey {
  background-color: #f0f0f0;
}

.step fieldset {
  border: 2px solid #353535;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: left;
}
/* .step legend {
	margin-left: 40px;
	font-size: 1rem;
	padding: 0 5px;
	width: auto;
	color: #353535;
	font-weight: 800;
} */

.step legend {
  /* margin-left: 40px; */
  font-size: 1.6rem;
  padding: 0 5px;
  width: auto;
  color: #333a8b;
  font-weight: 800;
  text-align: center;
}

.step .icon-img {
  position: absolute;
  left: -8px;
  width: 55px;
  top: 0%;
  border-radius: 0px;
}

.step p {
  color: #000;
  text-align: center;
  font-size: 1rem;
  /* padding-top: 10px; */
  margin-bottom: 0px;
}

.step p small {
  font-size: 0.8rem;
}

.step i {
  background-color: #adadad;
  padding: 4px 0px;
  display: block;
  width: 85%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  font-style: normal;
  font-family: "Open Sans", sans-serif !important;
}

.social-icon {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.social-icon img {
  padding: 0px 2px;
  height: 26px;
  width: auto;
  cursor: pointer;
}

#member-data {
  width: 100%;
  background: #464646;
  color: #fff;
  font-weight: 600;
  border: 1px solid #727272;
  border-radius: 10px;
  border-collapse: separate;
}

#member-data td {
  padding: 10px;
  border: 0.5px solid #727272;
}

#member-data tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

#member-data tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

#member-data tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

#member-data tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#member-data .download_btn,
#member-data .edit {
  margin: 0;
  border-radius: 5px;
  font-size: 0.6rem;
}

/* modal pop-up */
.modal-body {
  padding: 2rem;
  background: #fad520;
  color: #000;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 2px solid #fad520;
  font-weight: 800;
  box-shadow: -3px -1px 29px 0px rgb(0 0 0 / 75%);
  -webkit-box-shadow: -3px -1px 29px 0px rgb(0 0 0 / 75%);
  -moz-box-shadow: -3px -1px 29px 0px rgba(0, 0, 0, 0.75);
}

.modal-content {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.modal_btn {
  border-radius: 20px;
  color: #ffff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  min-width: 150px;
  box-shadow: -3px -1px 29px 0px rgb(0 0 0 / 75%);
  -webkit-box-shadow: -3px -1px 29px 0px rgb(0 0 0 / 75%);
  -moz-box-shadow: -3px -1px 29px 0px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2) 49%,
    rgba(0, 0, 0, 0.15) 51%,
    rgba(0, 0, 0, 0.05)
  );
}
.modal-banner {
  border-radius: 10px;
  margin-bottom: 20px;
}
.yes-card
{
  padding: 1rem;
    background: #fad520;
    color: #000;
    font-size: 0.8rem;
    border-radius: 10px;
    border: 2px solid #fad520;
    font-weight: 800;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .card-detail td {
    font-size: 16px;
  }
  img.user-icon {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .step {
    max-width: 100% !important;
    flex: 100% !important;
  }
  .joinstep {
    margin-bottom: 25px;
  }
  .step .icon-img {
    position: absolute;
    left: 5px;
    width: 41px;
    top: 0;
  }
  .step legend {
    font-size: 1.5rem;
  }
  .step i {
    width: 60%;
  }
  .refercount {
    margin-bottom: 30px;
  }
  #download_btn,
  #edit {
    margin: 10px 0px 0px 0px;
  }

  .modal_btn {
    min-width: 240px;
    margin-bottom: 15px;
  }
  /* .modal-body {
            padding: 1rem;         
            font-size: 1rem;
        } */
}

@media (max-width: 600px) {
  .bg-grey h5 {
    font-size: 0.9rem;
}
  .modal-body {
    padding: 1rem;
    font-size: 1rem;
  }
  .refer {
    display: block;
    margin-top: 10px;
  }
  .sub-footer .copyright {
    text-align: center;
  }
  .social-footer {
    width: 100%;
    margin-bottom: 10px !important;
  }
  .subfooter-nav {
    float: none;
    text-align: center;
  }
  .no-list-style {
    margin-bottom: 0px;
  }
  .subfooter-nav li {
    margin: 0px 5px;
    float: none;
    display: inline-block;
  }
  .card-detail td {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
  }
  .d-lang .card-detail td {
    font-size: 11px;
    line-height: 12px;
  }
  img.user-icon {
    position: absolute;
    left: -15%;
    top: 22%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top;
  }
  .address {
    bottom: 9%;
    font-size: 10px;
    line-height: 12px;
  }
  .step i {
    width: 65%;
  }
  img.qr {
    right: 5.3%;
    bottom: 50px;
    width: 60px;
  }
  p.qr {
    bottom: 15%;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .card-detail td {
    font-size: 11px;
  }
  .d-lang .card-detail td {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 466px) {
  .card-detail td {
    font-size: 9px;
  }
  .d-lang .card-detail td {
    font-size: 9px;
    line-height: 11px;
  }
  img.qr {
    right: 5.3%;
    bottom: 43px;
    width: 56px;
  }
  p.qr {
    bottom: 15%;
    font-size: 12px;
  }
}

@media (max-width: 422px) {
  .d-lang h4.thank_title,
  .d-lang h5.thank_title {
    font-size: 19px;
    line-height: 28px;
  }
  .address {
    line-height: 12px;
    font-size: 9px;
    bottom: 10%;
    left: 6%;
  }
  .card-detail td {
    font-size: 10px;
  }
  .d-lang .card-detail td {
    font-size: 8px;
    line-height: 10px;
  }
  img.qr {
    right: 5.3%;
    bottom: 43px;
    width: 50px;
  }
  p.qr {
    bottom: 13%;
    font-size: 10px;
    right: 12%;
  }
}

@media (max-width: 375px) {
  h4.thank_title,
  h5.thank_title {
    font-size: 20px;
    line-height: 26px;
  }
  .d-lang h4.thank_title,
  .d-lang h5.thank_title {
    font-size: 15px;
    line-height: 22px;
  }
  .d-lang .card-detail td {
    font-size: 7px;
    line-height: 9px;
  }
  .address {
    font-size: 7px;
    line-height: 9px;
    bottom: 11%;
    right: 34%;
    left: 6%;
  }
  #download_btn,
  #whatsapp_btn,
  #edit {
    font-size: 11px !important;
    font-weight: 600;
    min-width: 115px;
  }
  img.qr {
    right: 5.3%;
    bottom: 43px;
    width: 50px;
  }
  p.qr {
    bottom: 14%;
    font-size: 10px;
  }
}

@media (max-width: 357px) {
  .card-detail td {
    font-size: 8px;
  }
  img.qr {
    right: 5.5%;
    bottom: 41px;
    width: 45px;
  }
  p.qr {
    bottom: 13%;
    font-size: 10px;
  }
}

@media (max-width: 340px) {
  .sub-footer .copyright {
    font-size: 10px;
  }
  /* .card-content {
        top: 28%;
    } */
  .card-content {
    position: absolute;
    margin: 0px;
  }
  .card-content p {
    font-size: 13px;
    padding: 3px 0px;
  }
  .card-detail td {
    font-size: 7px;
  }
  img.user-icon {
    position: absolute;
    left: -14%;
    top: 17%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
  }
}

@media (max-width: 320px) {
  .card-detail td {
    font-size: 9px;
  }
  .d-lang .card-detail td {
    font-size: 6px;
    line-height: 7px;
  }
}
